@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.inicio-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: "roboto", sans serif;
}

.livro-imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; /* Posiciona a imagem atrás do texto */
    top: 0;
    left: 0;
    z-index: 1; /* Coloca a imagem no fundo */
}

.texto-sobre-imagem {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    width: 20%;
    width: 322px;
height: 125px;
left: 125px;

}

.pqdoar {
    display: flex;
    flex-direction: column;
    margin-top: 20px; /* Espaço acima da seção */
    font-family: "inter", sans-serif;
    height: 554px;
  }
h2{
    color: #005695;
    font-size: 40px;

}
.retangulos{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
  
  .retangulo1 {
    width: 286px;
    height: 321px;
    border-radius: 10px;
    background: rgba(1, 87, 148, 0.3);
    display: flex;
    flex-direction: column; /* Organiza a imagem e o texto verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    justify-content: space-between; /* Mantém o texto na parte inferior e imagem no centro */
    padding: 10px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui padding dentro das dimensões */
    overflow: hidden; /* Garante que o conteúdo fique dentro do retângulo */
  }
  
  .retangulo-imagem1 {
    width: 100px; /* Ocupa toda a largura do retângulo */
    height:100px; /* Define o tamanho proporcional da imagem */
    object-fit: cover; /* Garante que a imagem seja redimensionada sem distorção */
    align-items: center;
    margin-bottom: auto;
  }
  
  .retangulo-texto1 {
    padding: 10px;
    font-size: 22px;
    text-align: center; /* Centraliza o texto */
    margin-top: auto; /* Empurra o texto para a parte inferior */
    font-family: "inter", sans-serif;
  }

  .retangulo2 {
    width: 286px;
    height: 321px;
    border-radius: 10px;
    background: rgba(1, 87, 148, 0.3);
    display: flex;
    flex-direction: column; /* Organiza a imagem e o texto verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    justify-content: space-between; /* Mantém o texto na parte inferior e imagem no centro */
    padding: 10px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui padding dentro das dimensões */
    overflow: hidden; /* Garante que o conteúdo fique dentro do retângulo */
  }
  
  .retangulo-imagem2 {
    width: 100px; /* Ocupa toda a largura do retângulo */
    height:100px; /* Define o tamanho proporcional da imagem */
    object-fit: cover; /* Garante que a imagem seja redimensionada sem distorção */
    align-items: center;
    margin-bottom: auto;
  }
  
  .retangulo-texto2 {
    padding: 10px;
    font-size: 22px;
    text-align: center; /* Centraliza o texto */
    margin-top: auto; /* Empurra o texto para a parte inferior */
    font-family: "inter", sans-serif;
  }
  .retangulo3 {
      width: 286px;
      height: 321px;
      border-radius: 10px;
      background: rgba(1, 87, 148, 0.3);
      display: flex;
      flex-direction: column; /* Organiza a imagem e o texto verticalmente */
      align-items: center; /* Centraliza o conteúdo horizontalmente */
      justify-content: space-between; /* Mantém o texto na parte inferior e imagem no centro */
      padding: 10px; /* Espaçamento interno */
      box-sizing: border-box; /* Inclui padding dentro das dimensões */
      overflow: hidden; /* Garante que o conteúdo fique dentro do retângulo */
    }
    
    .retangulo-imagem3 {
      width: 100px; /* Ocupa toda a largura do retângulo */
      height:100px; /* Define o tamanho proporcional da imagem */
      object-fit: cover; /* Garante que a imagem seja redimensionada sem distorção */
      align-items: center;
      margin-bottom: auto;
    }
    
    .retangulo-texto3 {
      padding: 10px;
      font-size: 22px;
      text-align: center; /* Centraliza o texto */
      margin-top: auto; /* Empurra o texto para a parte inferior */
      font-family: "inter", sans-serif;
  }
  .retangulo4 {
    width: 286px;
    height: 321px;
    border-radius: 10px;
    background: rgba(1, 87, 148, 0.3);
    display: flex;
    flex-direction: column; /* Organiza a imagem e o texto verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    justify-content: space-between; /* Mantém o texto na parte inferior e imagem no centro */
    padding: 10px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui padding dentro das dimensões */
    overflow: hidden; /* Garante que o conteúdo fique dentro do retângulo */
  }
  
  .retangulo-imagem4 {
    width: 100px; /* Ocupa toda a largura do retângulo */
    height:100px; /* Define o tamanho proporcional da imagem */
    object-fit: cover; /* Garante que a imagem seja redimensionada sem distorção */
    align-items: center;
    margin-bottom: auto;
  }
  
  .retangulo-texto4 {
    padding: 10px;
    font-size: 22px;
    text-align: center; /* Centraliza o texto */
    margin-top: auto; /* Empurra o texto para a parte inferior */
    font-family: "inter", sans-serif;
  }
    
    

